body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #0f1011;
}

button {
    background-color: #0f1011;
    border: 3px solid #424240;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out;
}

button:hover {
    border: 3px solid #FFE710;
}

.amarillo{
    background-color: #FFE710;
    height: 100px;
    width: 100px;
    
}

.stratagem{
    height: 150px;
    width: 150px;
    background-color: #181818;
    margin: 10px;
    padding: 10px;
    filter: saturate(150%);
}

.first-str{
    height: 180px;
    width: 180px;
    border: 6px solid #FFE710;
}

.texto{
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

#cont-str{
    width: 100%;
    height: auto;
    /* background-color: #FFE710; */
}

#cont-keys{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.str-key{
    height: 60px;
    width: 60px;
    margin: 10px;
}